<!-- templates/post_detail.html -->
{% extends 'base.html' %}
{% block content %}

<div class="post-entry">
    <h2>{{ anything_you_want.title }}</h2>
    <p>{{ anything_you_want.body }}</p>
</div>

{% endblock content %}

<!-- В верхней части мы указываем, что этот шаблон наследуется от base.html. Затем отобразите 
title и body из нашего объекта контекста, который DetailView делает доступным как post.
Лично я нашел именование объектов контекста в общих представлениях чрезвычайно 
запутанным при первом изучении Django. Поскольку наш объект контекста из подробного 
представления является либо вашим именем модели post, либо объектом, мы также можем 
обновить наш шаблон следующим образом, и он будет работать точно так же. -->