<!-- templates/post_new.html -->
{% extends 'base.html' %} {% block content %}
<h1>New post</h1>
<form action="" method="post">{% csrf_token %} {{ form.as_p }}
	<input type="submit" value="Save" />
</form>
{% endblock %}

<!-- 
  Давайте разберемся с тем, что мы сделали:
• В верхней строке мы наследуем от нашего базового шаблона.
• Используются HTML-теги <form> с методом POST, так как мы отправляем данные. 
Если бы мы получали данные из формы, например, в окне поиска, мы бы 
использовали GET.
• Добавлен {% csrf_token %}, который предоставляется Django для защиты нашей 
формы от атак межсайтового скриптинга. Вы должны использовать его для всех 
ваших форм в Django.
• Затем для вывода данных формы используется {{ form.as_p }}, который отображает 
его в тегах параграфа <p>.
• Наконец, указываем тип ввода submit и присваиваем ему значение "Save".
 -->